<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <h1>Antonio Junior</h1>
  <h2>Front-end Developer</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum molestias nihil exercitationem totam quo est fuga, ad provident quidem. Qui fugiat accusantium ipsam, impedit culpa dolore atque amet voluptatum dignissimos!</p>
  <img src=<%= require("./assets/images/svg-example.svg")%> alt="Logo example">
  <div class="image-bg-test"></div>
</body>
</html>
